body{
    background-color:antiquewhite;
}

p{
    background-color:beige;
}

ul{
    border: 10px dashed rgb(102, 133, 131);
    background-color:rgb(166, 197, 196);
    color:blanchedalmond;
    align-content: center;
    padding-top: 20px;
}

.container{
    position: relative;
}

.image2{
    position:absolute;
    left:-100px;
}